* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

nav {
    height: 8vh;
    background: transparent;
    position: absolute;
    z-index: 20;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    height: 100%;
}

.navbar li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.menu2 li a {
    margin: 10px;
}

input {
    width: 600px;
    text-align: center;
    border: none;
    border: solid 1px #ccc;
    border-radius: 10px;
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
}

img {
    height: 100%;
    /* object-fit: cover; */
}

.pmcard {
    height: 300px;
    max-height: 300px;
    width: 300px;
    max-width: 300px;
    margin-right: 5px;
}

.actorImg {
    width: 150px;
    height: 150px;
}

.paddingRight {
    padding-right: 0;
}

.moviesBtns {
    font-size: medium;
    font-weight: bold;
}

.poster_path .d-block {
    width: 400px;
    height: 500px;
}

/* .card {
    height: 100%;
} */
