nav {
    background: #223843;
    position: static;
    z-index: auto;
}


#navbarDropdown {
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 2em;
    margin-bottom: 2em;
}

.poster_path .d-block {
    width: 400px;
    height: 500px;
}
